name: ci

on:
  push:
    branches: [master]
    paths-ignore: ["*.md", "docs/**"] # Skip for docs changes
  pull_request:
    paths-ignore: ["*.md", "docs/**"]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Build
        run: |
          mkdir -p bin
          go build -o bin/roku-remote

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: roku-remote
          path: bin/roku-remote

  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.11"

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./...

      - name: Test
        run: go test -race -v ./...

      - name: Test (without race detector)
        run: go test -v ./...
